@import "../../styles/index";

$button-variants: ("contained", "outlined", "text");

$button-colors: (
  primary: (
    main: $color-primary-main,
    contrastText: $color-primary-contrastText,
    outlinedBorder: $color-primary-outlinedBorder,
    dark: $color-primary-dark,
    selected: $color-primary-selected,
    focus: $color-primary-focus,
    focusVisible: $color-primary-focusVisible,
  ),
  secondary: (
    main: $color-secondary-main,
    contrastText: $color-secondary-contrastText,
    outlinedBorder: $color-secondary-outlinedBorder,
    dark: $color-secondary-dark,
    selected: $color-secondary-selected,
    focus: $color-secondary-focus,
    focusVisible: $color-secondary-focusVisible,
  ),
  error: (
    main: $color-error-main,
    contrastText: $color-error-contrastText,
    outlinedBorder: $color-error-outlinedBorder,
    dark: $color-error-dark,
    selected: $color-error-selected,
    focus: $color-error-focus,
    focusVisible: $color-error-focusVisible,
  ),
  warning: (
    main: $color-warning-main,
    contrastText: $color-warning-contrastText,
    outlinedBorder: $color-warning-outlinedBorder,
    dark: $color-warning-dark,
    selected: $color-warning-selected,
    focus: $color-warning-focus,
    focusVisible: $color-warning-focusVisible,
  ),
  info: (
    main: $color-info-main,
    contrastText: $color-info-contrastText,
    outlinedBorder: $color-info-outlinedBorder,
    dark: $color-info-dark,
    selected: $color-info-selected,
    focus: $color-info-focus,
    focusVisible: $color-info-focusVisible,
  ),
  success: (
    main: $color-success-main,
    contrastText: $color-success-contrastText,
    outlinedBorder: $color-success-outlinedBorder,
    dark: $color-success-dark,
    selected: $color-success-selected,
    focus: $color-success-focus,
    focusVisible: $color-success-focusVisible,
  ),
);

$button-padding-small: 8px 16px;
$button-padding-medium: 12px 24px;
$button-padding-large: 16px 32px;

$button-border-radius: 4px;

.button {
  border-radius: $button-border-radius;
  font-family: $font-family;
  font-weight: $font-weight-semibold;

  // Sizes
  &--small {
    padding: $button-padding-small;
  }
  &--medium {
    padding: $button-padding-medium;
    font-size: $font-size-body2;
  }
  &--large {
    padding: $button-padding-large;
    font-size: $font-size-body1;
  }

  // Variants and Colors
  @each $color-name, $color-values in $button-colors {
    @each $variant in $button-variants {
      &--#{$color-name}.button--#{$variant} {
        @if $variant == contained {
          background-color: map-get($color-values, main);
          color: map-get($color-values, contrastText);
          border: none;
          box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2);

          &:hover {
            background-color: map-get($color-values, dark);
          }

          &:active {
            background-color: map-get($color-values, selected);
          }

          &:focus {
            background-color: map-get($color-values, focusVisible);
          }

          &:focus-visible {
            background-color: map-get($color-values, focusVisible);
          }
        } @else if $variant == outlined {
          background-color: transparent;
          color: map-get($color-values, main);
          border: 1px solid map-get($color-values, outlinedBorder);
          box-shadow: none;

          &:hover {
            background-color: map-get($color-values, focus);
          }

          &:active {
            background-color: map-get($color-values, selected);
          }

          &:focus {
            background-color: map-get($color-values, focusVisible);
          }

          &:focus-visible {
            background-color: map-get($color-values, focusVisible);
          }
        } @else if $variant == text {
          background-color: transparent;
          color: map-get($color-values, main);
          border: none;
          box-shadow: none;

          &:hover {
            background-color: map-get($color-values, focus);
          }

          &:active {
            background-color: map-get($color-values, selected);
          }

          &:focus {
            background-color: map-get($color-values, focusVisible);
          }

          &:focus-visible {
            background-color: map-get($color-values, focusVisible);
          }
        }
      }
    }

    // Additional hover styles for just `&--color`
    &--#{$color-name} {
      &:hover {
        background-color: map-get($color-values, dark);
      }

      &:active {
        background-color: map-get($color-values, selected);
      }

      &:focus {
        background-color: map-get($color-values, focus);
      }

      &:focus-visible {
        background-color: map-get($color-values, focusVisible);
      }
    }
  }

  // Generic variants
  &--contained {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    border: none;
  }

  &--outlined,
  &--text {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  &--contained:disabled {
    background-color: $color-disabled;
    color: $color-text-disabled;
    cursor: not-allowed;
    border: none;

    &:hover,
    &:active,
    &:focus,
    &:focus-visible {
      background-color: $color-disabled;
      color: $color-text-disabled;
    }
  }

  &--outlined:disabled {
    border: 1px solid $color-disabled;
    color: $color-text-disabled;

    cursor: not-allowed;

    &:hover,
    &:active,
    &:focus,
    &:focus-visible {
      background-color: transparent;
      color: $color-text-disabled;
    }
  }

  &--text:disabled {
    border: none;
    color: $color-text-disabled;

    &:hover,
    &:active,
    &:focus,
    &:focus-visible {
      background-color: transparent;
    }
  }

  &--inherit {
    color: $color-text-primary;
    @extend .inherit-button;
  }

  &--inherit.button--outlined {
    border: 1px solid $color-text-primary;
  }

  &--inherit-white {
    color: white;
    @extend .inherit-button;
  }

  &--inherit.button--outlined {
    border: 1px solid white;
  }
}

.inherit-button {
  background-color: inherit;

  &:hover {
    background-color: rgba(transparent, $opacity-hover);
  }
  &:active {
    background-color: rgba(transparent, $opacity-selected);
  }
  &:focus {
    background-color: rgba(transparent, $opacity-focus);
  }
  &:focus-visible {
    background-color: rgba(transparent, $opacity-focusVisible);
  }
}
