@import "opacity";
/** 
    Text color variables 
**/
$color-text-primary: rgba(0, 0, 0, 0.87);
$color-text-secondary: rgba(0, 0, 0, 0.12);
$color-text-disabled: rgba(0, 0, 0, 0.38);

/** 
    Primary color variables 
**/
$color-primary-main: rgb(25, 118, 210);
$color-primary-dark: #1565c0;
$color-primary-light: #42a5f5;
$color-primary-contrastText: #ffffff;
$color-primary-hover: rgba(25, 118, 210, $opacity-hover);
$color-primary-selected: rgba(25, 118, 210, $opacity-selected);
$color-primary-focus: rgba(25, 118, 210, $opacity-focus);
$color-primary-focusVisible: rgba(25, 118, 210, $opacity-focusVisible);
$color-primary-outlinedBorder: rgba(25, 118, 210, $opacity-outlinedBorder);

/** 
    Secondary color variables
**/
$color-secondary-main: rgba(156, 39, 176, 1);
$color-secondary-dark: rgba(123, 31, 162, 1);
$color-secondary-light: rgba(186, 104, 200, 1);
$color-secondary-contrastText: #ffffff;
$color-secondary-hover: rgba(156, 39, 176, $opacity-hover);
$color-secondary-selected: rgba(156, 39, 176, $opacity-selected);
$color-secondary-focus: rgba(156, 39, 176, $opacity-focus);
$color-secondary-focusVisible: rgba(156, 39, 176, $opacity-focusVisible);
$color-secondary-outlinedBorder: rgba(156, 39, 176, $opacity-outlinedBorder);

/** 
    Error color variables
**/
$color-error-main: rgba(211, 47, 47, 1);
$color-error-dark: rgba(198, 40, 40, 1);
$color-error-light: rgba(239, 83, 80, 1);
$color-error-contrastText: #ffffff;
$color-error-hover: rgba(211, 47, 47, $opacity-hover);
$color-error-selected: rgba(211, 47, 47, $opacity-selected);
$color-error-focus: rgba(211, 47, 47, $opacity-focus);
$color-error-focusVisible: rgba(211, 47, 47, $opacity-focusVisible);
$color-error-outlinedBorder: rgba(211, 47, 47, $opacity-outlinedBorder);

/** 
    Warning color variables
**/
$color-warning-main: rgba(239, 108, 0, 1);
$color-warning-dark: rgba(230, 81, 0, 1);
$color-warning-light: rgba(255, 152, 0, 1);
$color-warning-contrastText: #ffffff;
$color-warning-hover: rgba(239, 108, 0, $opacity-hover);
$color-warning-selected: rgba(239, 108, 0, $opacity-selected);
$color-warning-focus: rgba(239, 108, 0, $opacity-focus);
$color-warning-focusVisible: rgba(239, 108, 0, $opacity-focusVisible);
$color-warning-outlinedBorder: rgba(239, 108, 0, $opacity-outlinedBorder);

/** 
    Info color variables
**/
$color-info-main: rgba(2, 136, 209, 1);
$color-info-dark: rgba(1, 87, 155, 1);
$color-info-light: rgba(3, 169, 244, 1);
$color-info-contrastText: #ffffff;
$color-info-hover: rgba(2, 136, 209, $opacity-hover);
$color-info-selected: rgba(2, 136, 209, $opacity-selected);
$color-info-focus: rgba(2, 136, 209, $opacity-focus);
$color-info-focusVisible: rgba(2, 136, 209, $opacity-focusVisible);
$color-info-outlinedBorder: rgba(2, 136, 209, $opacity-outlinedBorder);

/** 
    Success color variables
**/
$color-success-main: rgba(46, 125, 50, 1);
$color-success-dark: rgba(27, 94, 32, 1);
$color-success-light: rgba(76, 175, 80, 1);
$color-success-contrastText: #ffffff;
$color-success-hover: rgba(46, 125, 50, $opacity-hover);
$color-success-selected: rgba(46, 125, 50, $opacity-selected);
$color-success-focus: rgba(46, 125, 50, $opacity-focus);
$color-success-focusVisible: rgba(46, 125, 50, $opacity-focusVisible);
$color-success-outlinedBorder: rgba(46, 125, 50, $opacity-outlinedBorder);

/**
    Default color
**/
$color-default-main: rgba(0, 0, 0, 0.56);
$color-default-hover: rgba(0, 0, 0, $opacity-hover);
$color-default-selected: rgba(0, 0, 0, $opacity-selected);
$color-default-focus: rgba(0, 0, 0, $opacity-focus);
$color-default-focusVisible: rgba(0, 0, 0, $opacity-focusVisible);
$color-default-outlinedBorder: rgba(0, 0, 0, $opacity-outlinedBorder);

/**
    Inherit color
**/
$color-inherit-main: rgba(0, 0, 0, 1);
$color-inherit-hover: rgba(0, 0, 0, $opacity-hover);
$color-inherit-selected: rgba(0, 0, 0, $opacity-selected);
$color-inherit-focus: rgba(0, 0, 0, $opacity-focus);
$color-inherit-focusVisible: rgba(0, 0, 0, $opacity-focusVisible);
$color-inherit-outlinedBorder: rgba(0, 0, 0, $opacity-outlinedBorder);

/**
    Inherit White color
**/
$color-inherit-white-main: rgba(255, 255, 255, 1);
$color-inherit-white-hover: rgba(255, 255, 255, $opacity-hover);
$color-inherit-white-selected: rgba(255, 255, 255, $opacity-selected);
$color-inherit-white-focus: rgba(255, 255, 255, $opacity-focus);
$color-inherit-white-focusVisible: rgba(255, 255, 255, $opacity-focusVisible);
$color-inherit-white-outlinedBorder: rgba(255, 255, 255, $opacity-outlinedBorder);

/** Disabled color variables **/
$color-disabled: rgba(0, 0, 0, 0.12);

/** 
    Background color variables 
**/
$color-background-default: #ffffff;
$color-background-paper-elevation-0: #ffffff;
$color-background-paper-elevation-2: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 0.7),
  rgba(255, 255, 255, 0.7)
);
$color-background-paper-elevation-16: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 0.15),
  rgba(255, 255, 255, 0.15)
);
$color-background-paper-elevation-24: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 0.16),
  rgba(255, 255, 255, 0.16)
);
