@import "opacity";
/** 
    Text color variables 
**/
$color-text-primary: rgba(0, 0, 0, 0.87);
$color-text-secondary: rgba(0, 0, 0, 0.12);
$color-text-disabled: rgba(0, 0, 0, 0.38);

/** 
    Primary color variables 
**/
$color-primary-main: #1976d2;
$color-primary-dark: #1565c0;
$color-primary-light: #42a5f5;
$color-primary-contrastText: #ffffff;
$color-primary-text-hover: rgba(255, 255, 255, 1);
$color-primary-text-selected: rgba(25, 118, 210, 0.08);
$color-primary-text-focus: rgba(25, 118, 210, 0.12);
$color-primary-text-focusVisible: rgba(25, 118, 210, 0.3);
$color-primary-outlinedBorder: rgba(25, 118, 210, 0.5);

/** 
    Secondary color variables
**/
$color-secondary-main: rgba(156, 39, 176, 1);
$color-secondary-dark: rgba(123, 31, 162, 1);
$color-secondary-light: rgba(186, 104, 200, 1);
$color-secondary-contrastText: #ffffff;

/** 
    Error color variables
**/
$color-error-main: rgba(211, 47, 47, 1);
$color-error-dark: rgba(198, 40, 40, 1);
$color-error-light: rgba(239, 83, 80, 1);
$color-error-contrastText: #ffffff;

/** 
    Warning color variables
**/
$color-warning-main: rgba(239, 108, 0, 1);
$color-warning-dark: rgba(230, 81, 0, 1);
$color-warning-light: rgba(255, 152, 0, 1);
$color-warning-contrastText: #ffffff;

/** 
    Info color variables
**/
$color-info-main: rgba(2, 136, 209, 1);
$color-info-dark: rgba(1, 87, 155, 1);
$color-info-light: rgba(3, 169, 244, 1);
$color-info-contrastText: #ffffff;

/** 
    Success color variables
**/
$color-success-main: rgba(46, 125, 50, 1);
$color-success-dark: rgba(27, 94, 32, 1);
$color-success-light: rgba(76, 175, 80, 1);
$color-success-contrastText: #ffffff;

/** 
    Background color variables 
**/
$color-background-default: #ffffff;
$color-background-paper-elevation-0: #ffffff;
$color-background-paper-elevation-2: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
$color-background-paper-elevation-16: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
$color-background-paper-elevation-24: linear-gradient(to bottom, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16));


/** 
    Action color variables
**/
$color-action-active: rgba(0, 0, 0, 0.56);
$color-action-hover: rgba(0, 0, 0, var(--opacity-hover));
$color-action-selected: rgba(0, 0, 0, var(--opacity-selected));
$color-action-disabledBackground: rgba(0, 0, 0, 0.12);
$color-action-focus: rgba(0, 0, 0, var(--opacity-focus));

