/**
    Font size
**/
$font-size-h1: 96px;
$font-size-h2: 60px;
$font-size-h3: 48px;
$font-size-h4: 34px;
$font-size-h5: 24px;
$font-size-h6: 20px;
$font-size-body1: 16px;
$font-size-body2: 14px;
$font-size-subtitle1: 16px;
$font-size-subtitle2: 14px;
$font-size-caption: cell;
$font-size-overline: 12px;

/**
    Font family
**/
$font-family: 'Roboto', sans-serif;

/**
    Font weight
**/
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;